[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
tweepy = "*"
basilica = "*"
python-decouple = "*"
scikit-learn = "*"
python-dotenv = "*"
gunicorn = "*"
psychopg2 = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
